body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #FFF;
}

.hidden {
    display: none;
}

.show {
    display: block;
}