body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #FFF;
    margin: 0;
}

.hidden {
    display: none;
}

#clock {
    font-size: 40px;
}