body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    color: #FFF;
    margin: 0;
}

.hidden {
    display: none;
}

#clock {
    font-size: 40px;
}

img {
    position: fixed;
    width: 100%;
    z-index: -1;
}

#to-do-list > li > button {
    background-color: transparent;
    color: tomato;
    border: 0;
    cursor: pointer;
    margin-left: 0.5rem;
}